flask~=2.0.2
Flask-RESTful~=0.3.9
Flask-JWT-Extended~=4.4.0
flask-sqlalchemy~=2.5.1
flask-session~=0.4.0
flask-mail~=0.9.1
pyjwt~=2.4.0
pytz~=2022.1
yfinance~=0.1.87
apsscheduler~=3.9.1.post1
pandas~=1.1.5
numpy~=1.19.5
uwsgi~=2.0.20
psycopg2~=2.9.3