/* Tabs section */
.tabs{
    width:90%;
    height:auto;
    margin:0 auto;
    min-width: 900px;
}

/* Tab list item */
.tabs .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
    font-weight: bold;
}
.tabs .tabs-list li{
    width:100px;
    float:left;
    margin:0px;
    margin-right:2px;
    padding:10px 5px;
    text-align: center;
    background-color:slategray;
    border-radius:0px;
}
.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color:whitesmoke;
}

/* Tab content section */
.tabs .tab{
    display:none;
    width:95%;
    min-height:250px;
    height:auto;
    border-radius:0px;
    padding:15px 15px;
    background-color:grey;
    color:darkslategray;
    clear:both;
}
.tabs .tab h3{
    border-bottom:1px solid darkslategray;
    letter-spacing:0.5px;
    font-weight:normal;
    padding:1px;
}
.tabs .tab h2{
    letter-spacing:0.5px;
    font-weight:normal;
    padding:1px;
}
.tabs .tab p{
    line-height:20px;
    letter-spacing: 1px;
}

/* When active state */
.active{
    display:block !important;
}
.tabs .tabs-list li.active{
    background-color:grey !important;
    color:whitesmoke !important;
}
.active a{
    color:whitesmoke !important;
}

/* Columns and content */

/* table display for form items */
/* thanks to: http://jsfiddle.net/DaS39 */
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; text-align: left }
input { display: table-cell; }


.column {
    flex: 33.33%;
    height: 400px;
    /* min-height: 400px for no scrolls*/
    padding: 20px;
    margin: 2px;
    background-color: lightgrey;
    overflow: auto;
    letter-spacing:0.3px;
}
.column_dashboard {
    flex: 33.33%;
    height: 550px;
    padding: 20px;
    margin: 2px;
    background-color: lightgrey;
    overflow: auto;
    letter-spacing:0.3px;
}
.container {
    display: flex;
}

.webhook {
    table-layout: auto;
    width: 100%;
    text-align: center;
}

.ticker {
    border-radius: 5%;
    box-sizing: border-box;
    width: 72px;
}

.ticker-update {
    /* border-radius: 5%;
    box-sizing: border-box; */
    border-style: none;
    width: 75px;
    background-color: lightgrey;
}

.pair-update {
    border-style: none;
    width: 100px;
    background-color: lightgrey;
}

#ticker_webhook_update {
    border-style: none;
    width: 100px;
    background-color: lightgrey;
}

#rowid_update {
    border-style: none;
    width: 50px;
    background-color: lightgrey;
}

[id^=hedge] {
    border-radius: 5%;
    box-sizing: content-box;
    width: 54px;
}

[id^=order_action] {
    border-radius: 5%;
    box-sizing: content-box;
    width: 50px;
}

[id^=order_contracts] {
    border-radius: 5%;
    box-sizing: content-box;
    width: 45px;
}

[id^=order_price] {
    border-radius: 5%;
    width: 45px;
    border-style: none;
}

[id^=mar_pos_size] {
    border-radius: 5%;
    width: 45px;
    border-style: none;
}

[id^=pre_mar_pos_size] {
    border-radius: 5%;
    width: 45px;
    border-style: none;
}
[id^=passphrase] {
    border-radius: 5%;
    box-sizing: content-box;
    width: 85px;
}

#order_status_update {
    border-radius: 5%;
    width: 90px;
}

#order_comment_update {
    border-style: none;
    border-radius: 5%;
    width: 85px;
}
#ticker_type_update {
    border-style: none;
    width: 70px;
    background-color: lightgrey;
}
#stk_ticker1_update {
    border-style: none;
    width: 70px;
    background-color: lightgrey;
}
#stk_ticker2_update {
    border-style: none;
    width: 70px;
    background-color: lightgrey;
}
#hedge_param_update {
    border-style: none;
    width: 70px;
    background-color: lightgrey;
}
#order_id1_update {
    border-style: none;
    width: 70px;
}
#order_id2_update {
    border-style: none;
    width: 70px;
}
#stk_price1_update{
    border-style: none;
    width: 70px;
}
#stk_price2_update{
    border-style: none;
    width: 70px;
}
#fill_price_update{
    border-style: none;
    width: 70px;
}
#slip_update{
    border-style: none;
    width: 70px;
}
#error_msg_update{
    border-style: none;
    width: 85px;
}



button:hover {
    background-color: aqua;
}

.deletebutton {

    /* display:inline-block; */
    float: right;
    font-size: 80%;
    margin: 3px;
    padding: 1px;
    color:black;
    border:2px solid black;
    border-radius:5px;
    background: mistyrose;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:default;
    vertical-align:middle;
    text-align: center;
    letter-spacing:0.5px;
    
}

.deletebutton:hover {
    background-color: tomato;
}

.editmorebutton {

    /* display:inline-block; */
    float: left;
    font-size: 80%;
    margin: 3px;
    padding: 1px;
    color:black;
    border:2px solid black;
    border-radius:5px;
    background: whitesmoke;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:default;
    vertical-align:middle;
    text-align: center;
    letter-spacing:0.5px;
    
}

.editmorebutton:hover {
    background-color:wheat;
}

.logoutbutton {

    width: 70px;
    float: right;
    font-size: 80%;
    margin-right: 8%;
    padding: 4px;
    color:black;
    border:2px solid black;
    border-radius:5px;
    background: lightpink;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:default;
    vertical-align:middle;
    text-align: center;
    letter-spacing:0.5px;  
}
.logoutbutton:hover {
    background-color: tomato;
}

.loginbutton {

    width: 70px;
    float: right;
    font-size: 80%;
    margin-right: 8%;
    padding: 4px;
    color:black;
    border:2px solid black;
    border-radius:5px;
    background: lightskyblue;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:default;
    vertical-align:middle;
    text-align: center;
    letter-spacing:0.5px;  
}
.loginbutton:hover {
    background-color: aqua;
}

.countdown {

    float: right;
    right: 80px;
    font-size: 80%;
    margin-right: 0.5%;
    padding: 4px;
    color:black;
    border:2px solid black;
    border-radius:5px;
    background: lightsteelblue;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:default;
    vertical-align:middle;
    text-align: center;
    letter-spacing:0.5px;
    
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.column li:hover{
    background-color: silver;
    border: double;
    font-weight: bold;

}
.hidden {
    display: none;
}

.round {
    height: 10px;
    width: 10px;
    background-color: lightgrey;
    border-radius: 50%;
    display: inline-block;
    border:1px solid grey;
    margin: 2px;
    vertical-align:text-top;

}

.numberCircle {
    height: 14px;
    width: 18px;
    background-color: lightgrey;
    border-radius: 20%;
    display: inline-block;
    border:1px solid grey;
    margin: 1.5px;
    vertical-align:text-top;
    text-align: center;
    font-size: 75%;
}

.pages {
    display: none;
    font-size: 90%;
    margin: 3px;
    padding: 1px;
    color:black;
    border:1px solid black;
    border-radius:1px;
    background: whitesmoke;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:default;
    text-align: center;
    letter-spacing:0.5px;
    
}
.legend {
    float: center;
    font-size: 80%;
    margin: 0px;
    color:whitesmoke;
    background: grey;
    cursor:default;
    vertical-align:middle;
    text-align: center;
    letter-spacing:0.5px;
}


/* Login Screen Style Below */


/* The Modal (background) */
.modal-login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 99%; /* Full width */
    height: 99%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Box */
.modal-login-content {
    position: fixed; /* Stay in place */
    width: 200px;
    height: 140px;
    padding-top: 15px;
    right: 16%;
    top: 1%;
    border:2px solid black;
    border-radius:2px;
    background: whitesmoke;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.modal-login-container {
    padding: 10px;
  }


/* The Close Button (x) */
.close {
  position: absolute;
  right: 16px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Small Screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

