<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link href={{ url_for("static",filename="style.css") }} rel="stylesheet" type="text/css"> 
    <script nonce="{{ csp_nonce() }}"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

    {% include 'login.html' %}
    
    <div class="tabs">
        
        <ul class="tabs-list">
            <li id="dashboard" {% if tab1=="tab active" %}class="active"{% endif %}><a href="dashboard">Dashboard</a></li>
            <li id="listsignalstab" {% if tab2=="tab active" %}class="active"{% endif %}><a href="list">List Signals</a></li>
            <li id="positionstab" {% if tab3=="tab active" %}class="active"{% endif %}><a href="positions">Positions</a></li>
            <li id="watchlisttab" {% if tab4=="tab active" %}class="active"{% endif %}><a href="watchlist">Watchlist</a></li>
        </ul>

        <div id="tab1" class="{{ tab1 }}">
            <div class="column_dashboard">
                <h3> Signals </h3>
                {% block table %}
                {% endblock %}
            </div>
            {% block legenddash %}
            {% endblock %}
        </div>
        <div id="tab2" class="{{ tab2 }}">
            <div class="column_list"> 
                {% block submitlist %}
                {% endblock %}                             
                {% block tablelist %}
                {% endblock %}
            </div>
            {% block legendlist %}
            {% endblock %}          
        </div>
        <div id="tab3" class="{{ tab3 }}">
            <div class="column_positions"> 
                {% block positions %}
                {% endblock %}
            </div>
            {% block legendpos %}
            {% endblock %}       
        </div>
        <div id="tab4" class="{{ tab4 }}">
            <div class="column_watchlist"> 
                {% block watchlist %}
                {% endblock %}
            </div>  
            {% block legendwatch %}
            {% endblock %}  
        </div>

<script nonce="{{ csp_nonce() }}" >

var server_url = window.location.origin + "/";
console.log("base_url: " + server_url);

</script>

<script nonce="{{ csp_nonce() }}"  src={{ url_for("static",filename="users.js") }} > </script>
{% block listscript %}
{% endblock %}


</body>
</html>