{% extends 'base.html' %}
{% block table %}
<table class="webhook">
    <tr>
        <th>row_id</th>
        <th>timestamp(pct)</th>
        <th>ticker</th>
        <th>order_comment</th>
        <th>action</th>
        <th>quantity</th>
        <th>price</th>
        <th>order_status</th>
        <th>fill_price</th>
        <th>slippage</th>
    </tr>
    {% for signal in signals %}
    <tr>
        <td>{{ signal.rowid }}</td>
        {% if signal.timestamp|iftoday %}
        <td style="background-color:#dcf5f4">{{ signal.timestamp|pct_time}}</td>                 
        {% else %}
        <td>{{ signal.timestamp|pct_time}}</td>
        {% endif %} 
        <td>{{ signal.ticker }}</td>
        <td>{{ signal.order_comment }}</td> 
        <td>{{ signal.order_action }}</td>
        <td>{{ "{:,}".format(signal.order_contracts) }}</td>
        <td>{% if signal.order_price is number %}{{ "{:,.3f}".format(signal.order_price) }}{% endif %}</td>
        {% if "err" in signal.order_status%}
        <td style="background-color:orange"><span class='field-tip'>{{ signal.order_status }}<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "created" in signal.order_status %}
        <td style="background-color:lightblue"><span class='field-tip'>{{ signal.order_status }}({{ (signal.timestamp|timediff) }} min)<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "cancel" in signal.order_status %}
        <td style="background-color:lightgoldenrodyellow"><span class='field-tip'>{{ signal.order_status }}<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "waiting" in signal.order_status or "rerouted" in signal.order_status %}
        <td style="background-color:whitesmoke"><span class='field-tip'>{{ signal.order_status }}({{ (signal.timestamp|timediff) }} min)<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "part." in signal.order_status %}
        <td style="background-color:greenyellow"><span class='field-tip'>{{ signal.order_status }}<span class='tip-content'>{{ signal.status_msg }}</span></span></td>         
        {% elif "filled" in signal.order_status %}
        <td style="background-color:lightgreen"><span class='field-tip'>{{ signal.order_status }}<span class='tip-content'>{{ signal.status_msg }}</span></span></td> 
                           
        {% else %}
        <td>{{ signal.order_status }}</td>                                                   
        {% endif %}                
        <td>{{ signal.fill_price }}</td>
        {% if signal.fill_price == None or signal.order_price == None %}
        <td></td>
        {% else %}
        <td>{{ signal.slip|float|round(3,) }} | ${{ (signal.slip|float*signal.order_contracts)|round(1,) }}  </td>
        {% endif %}
    </tr>
    {% endfor %}                  
</table>
<br>
<div class="loginmsg2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "login_for_more" %}    
                {{ message }}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}

{% block legenddash %}
<div class="legend">
    <span class='numberCircle' style='background-color: whitesmoke';>&nbsp;</span> waiting
    <span class='numberCircle' style='background-color: lightgoldenrodyellow';>&nbsp;</span> canceled
    <span class='numberCircle' style='background-color: orange';>&nbsp;</span> error
    <span class='numberCircle' style='background-color: lightblue';>&nbsp;</span> created
    <span class='numberCircle' style='background-color: lightgreen';>&nbsp;</span> filled
</div>
{% endblock %}
