{% extends 'base.html' %}
{% block submitlist %}

<div class="divlist1">
    <div class="divlist2">
        <form action="list" method="get">
            <div id="tradetype">
                <input type="radio" id="checkpair" name="tradetype" value="pair" {% if selected_trade_type == "pair" %} checked {% endif %}><span>pair</span>
                <input type="radio" id="checkticker" name="tradetype" value="ticker" {% if selected_trade_type == "ticker" %} checked {% endif %}><span>ticker</span>
            </div>
            <br>
            <div>

                <label for="ticker_webhook" id="ticker_webhook_label"></label>
                <select onchange="changeStatusColor(this); "name="ticker_webhook" id="ticker_webhook">
                <option disabled selected value></option>
                </select>&nbsp
                <span title= "ticker status" id="show_status" class="round"></span>
                <br><br>

                <input type="date" id="start_date" name="start_date" value={{start_date}}>
                <input type="date" id="end_date" name="end_date" value={{end_date}}>
                <button type="submit">List Signals</button>
            </div>
        </form>
    </div>
    <div class="divlist3">
        <b>slippage:</b><br><br>
        buy:  {{slip_buy}} <br>
        sell: {{slip_sell}}<br>
        avg: {{slip_avg}}<br>
    </div>
</div>

{% endblock %}

{% block tablelist %}
<hr class="solid">
<table class="webhook">
    <tr>
        <th>row_id</th>
        <th>timestamp(pct)</th>
        <th>ticker</th>
        <th>order_comment</th>
        <th>action</th>
        <th>quantity</th>
        <th>price</th>
        <th>order_status</th>
        <th>fill_price</th>
        <th>slippage</th>
    </tr>
    {% for signal in signals %}
    <tr>
        <td>{{ signal.rowid }}</td>
        {% if signal.timestamp|iftoday %}
        <td class='tdtoday'>{{ signal.timestamp|pct_time("UTC")}}</td>
        {% else %}
        <td>{{ signal.timestamp|pct_time("UTC")}}</td>
        {% endif %} 
        <td>{{ signal.ticker }}</td>
        <td>{{ signal.order_comment }}</td> 
        <td>{{ signal.order_action }}</td>
        <td>{{ "{:,}".format(signal.order_contracts) }}</td>
        <td>{{ "{:,.2f}".format(signal.order_price) }}</td>
        {% if "err" in signal.order_status%}
        <td class='tdorange'><span class='field-tip'>{{ signal.order_status }}<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "created" in signal.order_status %}
        <td class='tdblue'><span class='field-tip'>{{ signal.order_status }}({{ (signal.timestamp|timediff) }} min)<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "cancel" in signal.order_status %}
        <td class='tdyellow'><span class='field-tip'>{{ signal.order_status }}<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "waiting" in signal.order_status or "rerouted" in signal.order_status %}
        <td class='tdwhite'><span class='field-tip'>{{ signal.order_status }}({{ (signal.timestamp|timediff) }} min)<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% elif "filled" in signal.order_status %}
        <td class='tdgreen2'><span class='field-tip'>{{ signal.order_status }}<span class='tip-content'>{{ signal.status_msg }}</span></span></td>
        {% else %}
        <td>{{ signal.order_status }}</td>                                                   
        {% endif %}                
        <td>{{ signal.fill_price }}</td>
        {% if signal.fill_price == None or signal.order_price == None %}
        <td></td>
        {% else %}
        <td>{{ signal.slip|float|round(3,) }} | ${{ (signal.slip|float*signal.order_contracts)|round(1,) }}  </td>
        {% endif %}
    </tr>
    {% endfor %}                  
</table>
<br>
<div class="loginmsg2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "login_for_more" %}    
                {{ message }}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}

{% block listscript %}
<script nonce="{{ csp_nonce() }}" type="text/javascript">
    var selected_ticker = '{{selected_ticker}}';
</script>
<script nonce="{{ csp_nonce() }}" type="text/javascript" src={{ url_for("static",filename="list.js") }} ></script>

{% endblock %}

{% block legendlist %}
<div class="legendleft">
    <span class='roundgreen'>&nbsp;</span> active
    <span class='roundred'>&nbsp;</span> passive
    <span class='roundyellow'>&nbsp;</span> watch
</div>
<div class="legend">
    <span class='numberCircleWhite'>&nbsp;</span> waiting
    <span class='numberCircleYellow'>&nbsp;</span> canceled
    <span class='numberCircleOrange'>&nbsp;</span> error
    <span class='numberCircleBlue'>&nbsp;</span> created
    <span class='numberCircleGreen'>&nbsp;</span> filled
</div>
{% endblock %}