     
     <div id="loginbox" class="modal-login">
        <span id="loginspan" class="close" title="Close Modal">&times;</span>
            <script nonce="{{ csp_nonce() }}" >
            document.getElementById("loginspan").addEventListener('click', clickHandler);

            function clickHandler(event) {
                document.getElementById('loginbox').style.display='none'
            }
            </script>
         <section class="login-form">
            <form class="modal-login-content animate">   
            <div class="modal-login-container">
                <label for="username"><b>username:</b></label>
                <input type="text" autocomplete='username' name="username" required>       
                <label for="password"><b>password:</b></label>
                <input type="password"  autocomplete='password' name="password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <label for="expire"><b>validity:</b></label>
                <select name="expire" id="expire">
                    <option value="1">1m</option>
                    <option value="3">3m</option>
                    <option value="5">5m</option>
                    <option value="10">10m</option>
                    <option value="20">20m</option>
                    <option value="30">30m</option>
                    <option value="60">1h</option>
                    <option value="120">2h</option>
                    <option value="240">4h</option>
                    <option value="480">8h</option>
                    <option value="720">12h</option>
                    <option value="1440">1d</option>
                    <option value="2880">2d</option>
                    <option value="10080" selected="selected">1w</option>
                </select>
                <br><br>
                <button type="submit" >Login</button>
            </div>
            </form>
        </section>
    </div>
    <div id="loginbutton" class="loginbutton" >LOGIN</div>
    <script nonce="{{ csp_nonce() }}" >
    document.getElementById("loginbutton").addEventListener('click', clickHandler);

    function clickHandler(event) {
        document.getElementById('loginbox').style.display='block'
    }
    </script>

    <!-- <a href="setup"><div class="settingsbutton" id="settingsbutton" ><i class="fa fa-gear fa-lg"></i></div></a> -->
    <!-- <a href="setup"><div class="settingsbutton" id="settingsbutton" >&#9881;</div></a> -->
    <a href="setup"><div class="settingsbutton" id="settingsbutton" ><p class="settingicon">&#9881;</p></div></a>
    <div class="loginmsg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "login" %}    
                    {{ message }}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
