{% extends 'base.html' %}
{% block positions %}

    <label for="last_update"><b>Last PNL Update:({{ pnl.timestamp|timediff }} min ago)</b></label>
    <h3> Account PNL</h3>
    <div class="loginmsg2">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "login_for_pnl" %}    
                    {{ message }}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
{% if pnl.rowid is number %}
    <table class="pnl">
        <tr>
            <th>DailyPnL</th>
            <th>RealizedPnL</th>
            <th>UnrealizedPnL</th>
            <th>NetLiquidation</th>
            <th>GrossPositionValue</th>
            <th>AvailableFunds</th>
            <th>&#931DistanceSMA</th>
            <th>Ceiling</th>
            <th>Last SMA Update</th>
        </tr>
        <tr>
            {% if pnl.DailyPnL < 0 %}<td style="color:darkred;font-weight:bold">{% elif pnl.DailyPnL > 0 %}<td style="color:green;font-weight:bold">{% else %}<td>{% endif %}
            C${{ "{:,}".format(pnl.DailyPnL|int)  }}</td>
            {% if pnl.RealizedPnL < 0 %}<td style="color:darkred;font-weight:bold">{% elif pnl.RealizedPnL > 0 %}<td style="color:green;font-weight:bold">{% else %}<td>{% endif %}
            C${{ "{:,}".format(pnl.RealizedPnL|int)  }}</td>
            {% if pnl.UnrealizedPnL < 0 %}<td style="color:darkred;font-weight:bold;">{% elif pnl.UnrealizedPnL > 0 %}<td style="color:green;font-weight:bold;">{% else %}<td>{% endif %}
            C${{ "{:,}".format(pnl.UnrealizedPnL|int)  }}</td>
            <td>C${{ "{:,}".format(pnl.NetLiquidation|int)  }}</td>
            <td>C${{ "{:,}".format(pnl.GrossPositionValue|int)  }}</td>
            <td style="border-right-style: groove;">C${{ "{:,}".format(pnl.AvailableFunds|int) }}</td>
            <td>C${{ "{:,}".format(sum_act_sma|int) }}</td>
            <td>C${{ "{:,}".format(sum_act_sma|int + pnl.NetLiquidation|int) }}</td>
            <td>({{last_price_update|timediff("EST") }} min ago)</td>
            
        </tr>
{% endif %}              
</table>

<h3> Positions</h3>
<table id="postable" class="positions">
    <tr>
        <th>pair</th>
        <th style="border-right-style: groove;">&#931pnl(US$)</th>
        <th>ticker1</th>
        <th>position</th>
        <th>cost(US$)</th>
        <th style="border-right-style: groove;">pnl</th>
        <th>ticker2</th>
        <th>position</th>
        <th>cost(US$)</th>
        <th style="border-right-style: groove;">pnl</th>
        <th style="border-right-style: groove;">dist.SMA(US$)</th>
        <th style="border-right-style: groove;">dist.std.dev</th>
        <th style="text-align: center;">check</th>
        
    </tr>
    {% for pos in pair_pos_all %}
    <tr>
        {% if pos.ticker1.active_pos < 0 %}
        
        <td style="background-color:lightpink;">{% elif pos.ticker1.active_pos > 0 %}
        <td style="background-color:palegreen;">{% else %}
        <td>{% endif %}
        {{ pos.ticker1.symbol }}-{{ pos.pair.hedge }}*{{ pos.ticker2.symbol }}
        </td>
        
        {% if (pos.ticker1.active_pnl + pos.ticker2.active_pnl) < 0 %}
        <td style="color:darkred;font-weight:bold;border-right-style: groove;">
        <span class='field-tip'>
        {% elif (pos.ticker1.active_pnl + pos.ticker2.active_pnl) > 0 %}
        <td style="color:green;font-weight:bold;border-right-style: groove;">
        <span class='field-tip'>
        {% else %}
        <td style="border-right-style: groove;">
        <span class='field-tip'>
        {% endif %}
        ${{ "{:,.0f}".format(pos.ticker1.active_pnl + pos.ticker2.active_pnl) }}
        <span class='tip-content'>
        avg: ${{ "{:.3f}".format((pos.ticker1.active_cost - pos.pair.hedge * pos.ticker2.active_cost)) }}
        {% if pos.ticker1.active_pos|abs > 0 %}
         | act: ${{ "{:.3f}".format((pos.ticker1.active_cost - pos.pair.hedge * pos.ticker2.active_cost)+(pos.ticker1.active_pnl + pos.ticker2.active_pnl)/pos.ticker1.active_pos) }}
        {% endif %}
        </span></span>
        </td>
        
        <td>{{ pos.ticker1.symbol }}</td>
 
        <td>{{ "{:,.0f}".format(pos.ticker1.active_pos)  }}</td>

        <td>${{ "{:,.0f}".format((pos.ticker1.active_cost * pos.ticker1.active_pos)|abs) }}</td>

        {% if pos.ticker1.active_pnl < 0 %}<td style="color:darkred;font-weight:bold;border-right-style: groove;">{% elif pos.ticker1.active_pnl > 0 %}<td style="color:green;font-weight:bold;border-right-style: groove;">{% else %}<td style="border-right-style: groove;">{% endif %}
        ${{ "{:,.0f}".format(pos.ticker1.active_pnl) }}</td>

        <td>{{ pos.ticker2.symbol }}</td>

        <td>{{ "{:,.0f}".format(pos.ticker2.active_pos)  }}</td>

        <td>${{ "{:,.0f}".format((pos.ticker2.active_cost * pos.ticker2.active_pos)|abs) }}</td>

        {% if pos.ticker2.active_pnl < 0 %}<td style="color:darkred;font-weight:bold;border-right-style: groove;">{% elif pos.ticker2.active_pnl > 0 %}<td style="color:green;font-weight:bold;border-right-style: groove;">{% else %}<td style="border-right-style: groove;">{% endif %}
        ${{ "{:,.0f}".format(pos.ticker2.active_pnl) }}</td>

        {% if pos.ticker1.active_pos|abs > 0 %}
            {% if pos.ticker1.active_pos|int*pos.pair.sma_dist > 0 %}
                <td bgcolor="lightblue" style="border-right-style: groove;">${{ "{:,.0f}".format((pos.ticker1.active_pos*pos.pair.sma_dist)) }}</td>
            {% else %}
                <td bgcolor="peachpuff" style="border-right-style: groove;">${{ "{:,.0f}".format((pos.ticker1.active_pos*pos.pair.sma_dist)) }}</td>
            {% endif %}
        {% else %}
            <td style="color:darkblue;font-weight:bold;border-right-style: groove;">${{ "{:,.0f}".format((pos.pair.contracts*pos.pair.sma_dist|abs)) }}</td>
        {% endif %}

        {% if pos.pair.std!=0 %}
        <td style="color:darkblue;font-weight:bold;border-right-style: groove;">{{ "{:,.2f}".format((pos.pair.sma_dist/pos.pair.std)|abs) }}</td>
        {% else %}<td>{% endif %}
        
        {% if pos.ticker1.active_pos != 0 %}
            {% if (pos.ticker2.active_pos/pos.ticker1.active_pos)|float|abs|round(2,) != pos.pair.hedge %}
                {% if ((pos.ticker2.active_pos/pos.ticker1.active_pos/pos.pair.hedge)|float|abs|round(3,)-1)|abs>= 0.05 %}<td style="background-color:orange;text-align: center;">hedge={{ (pos.ticker2.active_pos/pos.ticker1.active_pos)|float|abs|round(2,) }}</td>
                {% else %}<td style="background-color:lightyellow;text-align: center;">hedge={{ (pos.ticker2.active_pos/pos.ticker1.active_pos)|float|abs|round(2,) }}</td>
                {% endif %}
            {% else %}<td style="text-align: center;">ok</td>
            {% endif %}
        {% elif pos.ticker2.active_pos > 2 %}<td style="background-color:orange;text-align: center;">2nd pair</td>
        {% elif pos.ticker2.active_pos == 0 %}<td style="text-align: center;">ok</td>
        {% else %}<td style="background-color:lightyellow;text-align: center;">2nd pair</td>{% endif %}

        {% if pos.ticker1.active_pos|abs > 0 %}

        <td>
            <span class='field-tip'>
            <a href="./setup?tradeaction=close&tradepair={{ pos.pair.name }}&tradecontracts={{ pos.ticker1.active_pos }}&tradeprice={{ ((pos.ticker1.active_cost - pos.pair.hedge * pos.ticker2.active_cost)+(pos.ticker1.active_pnl + pos.ticker2.active_pnl)/pos.ticker1.active_pos)|round(3,) }}" class="closeposbutton">close</a>
            <span class='tip-content'>
            close {{pos.pair.name}}
            </span></span>
        </td>
        <td>
            <span class='field-tip'>
            <a href="./setup?tradeaction=revert&tradepair={{ pos.pair.name }}&tradecontracts={{ pos.ticker1.active_pos }}&tradeprice={{ ((pos.ticker1.active_cost - pos.pair.hedge * pos.ticker2.active_cost)+(pos.ticker1.active_pnl + pos.ticker2.active_pnl)/pos.ticker1.active_pos)|round(3,) }}" class="closeposbutton">revert</a>
            <span class='tip-content'>
            close {{pos.pair.name}}
            </span></span>
        </td>
        {% else %}
            {% if pos.pair.act_price < pos.pair.sma %}
                <td>
                    <span class='field-tip'>
                    <a href="./setup?tradeaction=buy&tradepair={{ pos.pair.name }}&tradecontracts={{ pos.pair.contracts }}&tradeprice={{ pos.pair.act_price }}" class="buyposbutton">buy</a>
                    <span class='tip-content'>
                    buy {{pos.pair.name}}
                    </span></span>
                </td>
            {% else %}
                <td>
                    <span class='field-tip'>
                    <a href="./setup?tradeaction=sell&tradepair={{ pos.pair.name }}&tradecontracts={{ pos.pair.contracts }}&tradeprice={{ pos.pair.act_price }}" class="sellposbutton">sell</a>
                    <span class='tip-content'>
                    buy {{pos.pair.name}}
                    </span></span>
                </td>
            {% endif %}
        {% endif %}

    </tr>
    {% endfor %}                  
</table>

<div class="loginmsg2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "login_for_more" %}    
                {{ message }}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% if other_pos%}
    <h3> Other Pos.</h3>
    <table class="otherpos">
        <tr>
            <th style="text-align: left;">ticker</th>
            <th>position</th>
            <th>cost</th>
            <th>pnl</th>
        </tr>
        {% for ticker in other_pos %}
        <tr>
            {% if ticker.active_pos < 0 %}
            <td style="background-color:lightpink;">{% elif ticker.active_pos > 0 %}
            <td style="background-color:palegreen;">{% else %}
            <td>{% endif %}
            {{ ticker.symbol }}</td>
            <td>{{ "{:,.0f}".format(ticker.active_pos)  }}</td>
            <td>{{ ticker.active_cost }}</td>
            {% if ticker.active_pnl < 0 %}<td style="color:darkred;font-weight:bold">{% elif ticker.active_pnl > 0 %}<td style="color:green;font-weight:bold;">{% else %}<td>{% endif %}
                ${{ ticker.active_pnl }}</td>

        </tr>
        {% endfor %}                  
    </table>
    <br>
    <div class="loginmsg2">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "login_for_more" %}    
                    {{ message }}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
{% endif %}
{% endblock %}


{% block legendpos %}
<div class="legend">
    <span class='numberCircle' style='background-color: palegreen';>&nbsp;</span> long
    <span class='numberCircle' style='background-color: lightpink';>&nbsp;</span> short
    <span class='numberCircle' style='background-color: lightyellow';>&nbsp;</span> error
    <span class='numberCircle' style='background-color: orange';>&nbsp;</span> warning
</div>
{% endblock %}