<!DOCTYPE html>
<html lang="en">
<head>
    <title>RESTful API TEST PAGE</title>
    <meta charset="UTF-8">
    <link href={{ url_for("static",filename="style.css") }} rel="stylesheet" type="text/css"> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
    <script nonce="{{ csp_nonce() }}"  type="text/javascript" >
        $(document).ready(function(){

            // for the tabs:
            $(".tabs-list li a").click(function(e){
                e.preventDefault();
            });

            $(".tabs-list li").click(function(){
                var tabid = $(this).find("a").attr("href");
                $(".tabs-list li,.tabs div.tab").removeClass("active");
                $(".tab").hide();
                $(tabid).show();
                $(this).addClass("active");

            });

            // end

            //Below needs a CSP fix
            // thanks to: https://jsfiddle.net/KarmaProd/hw8j34f2/4/
            // Restricts input for each element in the set of matched elements to the given inputFilter.
            // (function($) {
            // $.fn.inputFilter = function(callback, errMsg) {
            //     return this.on("input keydown keyup mousedown mouseup select contextmenu drop focusout", function(e) {
            //     if (callback(this.value)) {
            //         // Accepted value
            //         if (["keydown","mousedown","focusout"].indexOf(e.type) >= 0){
            //         $(this).removeClass("input-error");
            //         this.setCustomValidity("");
            //         }
            //         this.oldValue = this.value;
            //         this.oldSelectionStart = this.selectionStart;
            //         this.oldSelectionEnd = this.selectionEnd;
            //     } else if (this.hasOwnProperty("oldValue")) {
            //         // Rejected value - restore the previous one
            //         $(this).addClass("input-error");
            //         this.setCustomValidity(errMsg);
            //         this.reportValidity();
            //         this.value = this.oldValue;
            //         this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            //     } else {
            //         // Rejected value - nothing to restore
            //         this.value = "";
            //     }
            //     });
            // };
            // }(jQuery));

            // Install input filters.
            // not used:
            // $("#intTextBox").inputFilter(function(value) {
            // return /^-?\d*$/.test(value); }, "Must be an integer");
            
            // // used:
            // $('input.integer').inputFilter(function(value) {
            // return /^\d*$/.test(value); }, "Must be an unsigned integer");
            
            // // not used:
            // $("#intLimitTextBox").inputFilter(function(value) {
            // return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 1000); }, "Must be between 0 and 1000");
            // $('input.float').inputFilter(function(value) {
            // return /^-?\d*[.]?\d*$/.test(value); }, "Must be a floating (real) number");
            
            // // used. if you need ',' as a separator use below:
            // //return /^-?\d*[.,]?\d*$/.test(value); }, "Must be a floating (real) number");
            // $("#currencyTextBox").inputFilter(function(value) {
            // return /^-?\d*[.,]?\d{0,2}$/.test(value); }, "Must be a currency value");
            
            // // not used. currently using html input pattern:
            // $("#latinTextBox").inputFilter(function(value) {
            // return /^[a-z]*$/i.test(value); }, "Must use alphabetic latin characters");
            // // not used
            // $("#hexTextBox").inputFilter(function(value) {
            // return /^[0-9a-f]*$/i.test(value); }, "Must use hexadecimal characters");

            // // not used: this can also be used for float only text inputs as "class=float"
            // $('input.float').on('input', function() {
            //     this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');
            // });

            // end


        });


    </script>
</head>

<body>
    <div id="loginbox" class="modal-login">
        <span id="loginspan" class="close" title="Close Modal">&times;</span>
        <script nonce="{{ csp_nonce() }}" >
            document.getElementById("loginspan").addEventListener('click', clickHandler);

            function clickHandler(event) {
                document.getElementById('loginbox').style.display='none'
            }
        </script>
        <section class="login-form">
            <form class="modal-login-content animate">   
            <div class="modal-login-container">
                <label for="username"><b>username:</b></label>
                <input type="text" autocomplete='username' name="username" required>       
                <label for="password"><b>password:</b></label>
                <input type="password" autocomplete='password' name="password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <label for="expire"><b>validity:</b></label>
                <select name="expire" id="expire">
                    <option value="1">1m</option>
                    <option value="3">3m</option>
                    <option value="5">5m</option>
                    <option value="10">10m</option>
                    <option value="20">20m</option>
                    <option value="30" selected="selected">30m</option>
                    <option value="60">1h</option>
                    <option value="120">2h</option>
                    <option value="240">4h</option>
                    <option value="480">8h</option>
                    <option value="720">12h</option>
                    <option value="1440">1d</option>
                    <option value="2880">2d</option>
                    <option value="10080">1w</option>
                </select>
                <br><br>
                <button type="submit" >Login</button>
            </div>
            </form>
        </section>
    </div>
    <div id="loginbutton" class="loginbutton" >LOGIN</div>
    <script nonce="{{ csp_nonce() }}" >
    document.getElementById("loginbutton").addEventListener('click', clickHandler);

    function clickHandler(event) {
        document.getElementById('loginbox').style.display='block'
    }
    </script>

    <div class="countdown" id="countdown"></div>
    <a href="../"><div class="dashbutton" id="dashbutton" ><i class="fa fa-arrow-left"></i> DASHBOARD</div></a>
    <br><br>
    
    <div id="logoutbutton" class="logoutbutton" >LOGOUT</div>
    <script nonce="{{ csp_nonce() }}">
        document.getElementById("logoutbutton").addEventListener('click', clickHandler);
    
        function clickHandler(event) {
            logout()
        }
    </script>

    <div class="tabs">
        
        <ul class="tabs-list">
            <li id="signalstab" class="active"><a href="#tab1">Signals</a></li>
            <li id="pairstab"><a href="#tab2">Pairs</a></li>
            <li id="tickerstab"><a href="#tab3">Tickers<a/></li>
        </ul>

        <div id="tab1" class="tab active">
            <div class="container">
                <div class="column">
                <h3> Webhook Simulator </h3>
                <section class="webhook-form">
                    <form>                                                  
                        <div id="tradetype">
                            <input type="radio" id="tradepair" name="tradetype" value="pair" checked><span>trade pair</span>
                            <input type="radio" id="tradeticker" name="tradetype" value="ticker"><span>trade ticker</span>
                        </div>
                        <br>
                        <div>
                            <div class="setupdiv1">
                                <p>
                                    <label for="ticker_webhook" id="ticker_webhook_label">Select Pair(*):</label>
                                    <select name="ticker_webhook" id="ticker_webhook">
                                    <script nonce="{{ csp_nonce() }}" >
                                        document.getElementById("ticker_webhook").addEventListener('onchange', clickHandler);
                            
                                        function clickHandler(event) {
                                            changeStatusColor(this);
                                        }
                                    </script>                   
                                    <option disabled selected value></option>
                                    </select>
                                    <span title= "ticker status" id="show_status" class="round"></span>                               
                                </p>                          
                            </div>
                            <br>
                            <p>
                                <label for="order_action">Order Action(*):&nbsp;</label>
                                <select name="order_action" id="order_action">
                                    <option disabled selected value></option>
                                    <option value="buy">buy</option>
                                    <option value="sell">sell</option>
                                </select>          
                            </p>
                            <p>
                                <label for="order_contracts"># of Contracts(*):&nbsp;</label>
                                <input type="text" name="order_contracts" id="order_contracts" class="integer" title="Integers only" pattern="[0-9]+" required placeholder="###">
                            </p>
                            <p>
                                <label for="order_price">Order Price:&nbsp;</label>
                                <input type="text" name="order_price" id="order_price" class="float" title="Decimals only" pattern="^[1-9]\d*(\.\d+)?$" required placeholder="##.##">
                            </p>
                            <p>
                                <label for="mar_pos">Market Position:&nbsp;</label>
                                <select name="mar_pos" id="mar_pos">
                                    <option></option>
                                    <option value="flat">flat</option>
                                    <option value="short">short</option>
                                    <option value="long">long</option>
                                </select>        
                            </p>
                            <p>
                                <label for="mar_pos_size">Mar. Pos. Size:&nbsp;</label>
                                <input type="text" name="mar_pos_size" id="mar_pos_size" class="integer" class="integer" title="Integers only" pattern="[0-9]+" required placeholder="###"> 
                            </p>
                            <p>
                                <label for="pre_mar_pos">Previous Mar. Pos.:&nbsp;</label>
                                <select name="pre_mar_pos" id="pre_mar_pos">
                                    <option></option>
                                    <option value="flat">flat</option>
                                    <option value="short">short</option>
                                    <option value="long">long</option>
                                </select>        
                            </p>
                            <p>
                                <label for="pre_mar_pos_size">Pre. Mar. Pos. Size:&nbsp</label>
                                <input type="text" name="pre_mar_pos_size" id="pre_mar_pos_size" class="integer" class="integer" title="Integers only" pattern="[0-9]+" required placeholder="###"> 
                            </p>
                            <p>
                                <label for="passphrase">Passphrase(*):&nbsp</label>
                                <input type="text" name="passphrase" id="passphrase" autocomplete='passphrase'>
                            </p>
                            <br>
                            <p>
                                <input type="hidden" name="pyramiding" value="no">
                                <label for="pyramiding">Pyramiding</label>
                                <input type="checkbox" id="pyramiding" name="pyramiding" value="yes"/>                              
                            </p>
                            <p>
                                <input type="hidden" name="market_order1" value="no">
                                <label for="market_order1">Mar.Ord.(ticker1)</label>
                                <input type="checkbox" id="market_order1" name="market_order1" value="yes"/>                              
                            </p>
                            <p>
                                <input type="hidden" name="market_order2" value="no">
                                <label for="market_order2">Mar.Ord.(ticker2)</label>
                                <input type="checkbox" id="market_order2" name="market_order2" value="yes"/>                              
                            </p>
                            <input id="order_comment" name="order_comment" type="hidden" value=" ">
                            <input name="order_status" type="hidden" value="waiting">                                                     
                            <br><br>
                            <button type="submit">Create JSON</button>
                        </div>
                    </form>
                </section>
            
                <section>
                    <div id="jsondiv-webhook" class="results-webhook" display= "none">
                        <h2 id="jsontext-webhook" class="hidden" >JSON</h2>
                        <pre></pre>
            
                    </div>
                </section>
            
                </div>
            
                <div class="column">
                    <h3> List of Order Signals </h3>
                    <p>
                    <ul id="signallist" class="no-bullets"> </ul>
                    <div id="login-txt" class="floatleftnodisplay"><br>Login to see all signals...</div>
                    <div id="prev-signals" class="pagesleft" >Prev</div>
                    <div id="next-signals" class="pagesright">Next</div>
                </div>
                
                <div class="column">
                    <h3> Update Signal </h3>
                    <section class="signals-update">
                        <div id="deletebutton_signal" class="deletebutton">&nbsp;DELETE!&nbsp;</div>
                        <script nonce="{{ csp_nonce() }}" >
                            document.getElementById("deletebutton_signal").addEventListener('click', clickHandler);
                
                            function clickHandler(event) {
                                alertBefore_signals('{{ csrf_token() }}')
                            }
                        </script>
                        <form>  
                            <p>
                                <label for="rowid_update">RowId:</label>
                                <input type="text" name="rowid" id="rowid_update" readonly>                          
                            </p>
                            <p>
                                <label id="timestamp_update_label" for="timestamp_update">Timestamp:</label>
                                <input type="text" name="timestamp" id="timestamp_update" readonly>                          
                            </p>
                            <p>
                                <label id="ticker_webhook_update_label" for="ticker_webhook_update">Signal:</label>
                                <input type="text" name="ticker" id="ticker_webhook_update" readonly>                          
                            </p>
                            <p>
                                <label  for="ticker_type_update">Ticker Type:</label>
                                <select name="ticker_type" id="ticker_type_update" disabled>
                                    <option></option>
                                    <option value="single">single</option>
                                    <option value="pair">pair</option>
                                </select>                       
                            </p>
                            <p>
                                <label  for="ticker1_update">Ticker 1:</label>
                                <input  type="text" name="ticker1" id="signal_ticker1_update" readonly>                       
                            </p>
                            <p>
                                <label  for="ticker2_update">Ticker 2:</label>
                                <input  type="text" name="ticker2" id="signal_ticker2_update" readonly>                       
                            </p>
                            <p>
                                <label  for="hedge_param_update">Hedge Param:</label>
                                <input  type="text" name="hedge_param" id="hedge_param_update" class="float" readonly>                       
                            </p>
                                                 
                            <p>
                                <label for="order_action_update">Order Action(*):&nbsp;</label>
                                <select name="order_action" id="order_action_update">
                                    <option disabled selected value></option>
                                    <option value="buy">buy</option>
                                    <option value="sell">sell</option>
                                </select>          
                            </p>
                            <p>
                                <label for="order_contracts_update"># Contracts(*):&nbsp;</label>
                                <input type="text" name="order_contracts" id="order_contracts-update" class="integer" title="Integers only" pattern="[0-9]+" required placeholder="###">

                            </p>
                            <p>
                                <label for="order_price_update">Order Price:&nbsp;</label>
                                <input type="text" name="order_price" id="order_price_update" class="float" title="Decimals only" pattern="^[1-9]\d*(\.\d+)?$" required placeholder="##.##"> 
                            </p>
                            <p>
                                <label for="mar_pos_update">Mar. Position:&nbsp;</label>
                                <select name="mar_pos" id="mar_pos_update">
                                    <option></option>
                                    <option value="flat">flat</option>
                                    <option value="short">short</option>
                                    <option value="long">long</option>
                                </select>        
                            </p>
                            <p>
                                <label for="mar_pos_size_update">Mar. Pos. Size:&nbsp;</label>
                                <input type="text" name="mar_pos_size" id="mar_pos_size_update" class="integer" class="integer" title="Integers only" pattern="[0-9]+" required placeholder="###"> 
                            </p>
                            <p>
                                <label for="pre_mar_pos_update">Pre. Mar. Pos.:&nbsp;</label>
                                <select name="pre_mar_pos" id="pre_mar_pos_update">
                                    <option></option>
                                    <option value="flat">flat</option>
                                    <option value="short">short</option>
                                    <option value="long">long</option>
                                </select>        
                            </p>
                            <p>
                                <label for="pre_mar_pos_size_update">Pre.Mar.Pos.Size:&nbsp;</label>
                                <input type="text" name="pre_mar_pos_size" id="pre_mar_pos_size_update" class="integer" class="integer" title="Integers only" pattern="[0-9]+" required placeholder="###"> 
                            </p>
                            
                            <p>
                                <label for="order_status_update">Order Status:&nbsp;</label>
                                <select name="order_status" id="order_status_update" >
                                    <option></option>
                                    <option value="waiting">waiting</option>
                                    <option value="rerouted">rerouted</option>
                                    <option value="created">created</option>
                                    <option value="canceled">canceled</option>
                                    <option value="filled">filled</option>
                                    <option value="part.filled">part.filled</option>                                     
                                    <option value="critical err">critical err</option>
                                    <option value="error">error</option>
                                </select> 
                            </p>
                            <p>
                                <label for="order_comment_update">Order Comment:&nbsp;</label>
                                <input type="text" name="order_comment" id="order_comment_update"> 
                            </p>

                            <br>

                            <p>
                                <label  for="order_id1_update">Order ID 1:</label>
                                <input  type="text" name="order_id1" id="order_id1_update" class="integer">                       
                            </p>
                            <p>
                                <label  for="order_id2_update">Order ID 2:</label>
                                <input  type="text" name="order_id2" id="order_id2_update" class="integer">                       
                            </p>
                            <p>
                                <label  for="ticker_price1_update">Ticker Price 1:</label>
                                <input  type="text" name="price1" id="price1_update" class="float">                       
                            </p>
                            <p>
                                <label  for="ticker_price2_update">Ticker Price 2:</label>
                                <input  type="text" name="price2" id="price2_update" class="float">                       
                            </p>
                            <p>
                                <label  for="fill_price_update">Fill Price:</label>
                                <input  type="text" name="fill_price" id="fill_price_update" class="float">                       
                            </p>
                            <p>
                                <label  for="slip_update">Slip:</label>
                                <input  type="text" name="slip" id="slip_update" class="float">                       
                            </p>
                            <p>
                                <label  for="error_msg_update">Error Msg:</label>
                                <input  type="text" name="error_msg" id="error_msg_update">                 
                            </p>
                            <p>
                                <label  for="status_msg_update">Status Msg:</label>
                                <input  type="text" name="status_msg" id="status_msg_update">                    
                            </p>
                            <p>
                                <label for="passphrase">Passphrase(*):&nbsp</label>
                                <input type="text" name="passphrase" id="passphrase_update" autocomplete='passphrase'>
                            </p>
             
             
             
                            <br><br>
                            <button type="submit">Create JSON</button>                          
                        </form>
                        
                    </section>
                
                    <section>
                        <div id="jsondiv-webhook-update" class="results-webhook-update" display= "none">
                            <h2 id="jsontext-webhook-update" class="hidden" >JSON</h2>
                            <pre></pre>
                
                        </div>
                    </section>
                </div>
            </div>
            <div class="legend">
                <span class='numberCircleWhite'>&nbsp;</span> waiting
                <span class='numberCircleYellow'>&nbsp;</span> canceled
                <span class='numberCircleOrange'>&nbsp;</span> error
                <span class='numberCircleBlue'>&nbsp;</span> created
                <span class='numberCircleGreen'>&nbsp;</span> filled
            </div>
        </div>
        <div id="tab2" class="tab">
            <div class="container">
                <div class="column">
                <h3> Add Pair </h3>
                <section class="pairs-form">
                    <form>
                        <div>
                            <!-- if you need datalist with a value restriction use below:-->
                            <!-- datalist
                            <label for="ticker1">Ticker 1:</label>
                            <input list="tickerlist" name="ticker1" id="ticker1" class="ticker">
                            <datalist id="tickerlist">
                            </datalist>
                            <br>
                            <label for="ticker2">Ticker 2:</label>
                            <input list="tickerlist" name="ticker2" id="ticker2" class="ticker">
                            <datalist id="tickerlist">
                            </datalist> -->
                            <p>
                                <label for="ticker1">Ticker 1:&nbsp;</label>
                                <select name="ticker1" id="ticker1">
                                <option disabled selected value></option>
                                </select>
                            </p>
                            <p>
                                <label for="ticker2">Ticker 2:&nbsp;</label>
                                <select name="ticker2" id="ticker2">
                                <option disabled selected value></option> 
                                </select>
                            </p>          
                            <p>
                                <label for="hedge">Hedge:&nbsp;</label>
                                <input type="text" title="Decimals only" name="hedge" id="hedge" class="float" pattern="^[1-9]\d*(\.\d+)?$" required placeholder="#.##">
                                <input name="status" type="hidden" value="0"/>
                            </p>
                            <p>
                                <label for="contracts">Contracts:&nbsp;</label>
                                <input type="text" title="Integers only" name="contracts" id="contracts" class="integer" pattern="[0-9]+" required placeholder="###"> 
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            </p>
                            <br><br>
                            <button type="submit">Create JSON</button>
                        </div>
                    </form>
                </section>
            
                <section>
                    <div id="jsondiv-pairs" class="results-pairs" display= "none">
                        <h2 id="jsontext-pairs" class="hidden" >JSON</h2>
                        <pre></pre>
            
                    </div>
                </section>
            
                </div>
            
                <div class="column">
                    <h3> List of Pairs </h3>
                    <button id="getpairs_button" type="submit">GET Pairs</button>
                    <script nonce="{{ csp_nonce() }}" >
                        document.getElementById("getpairs_button").addEventListener('click', clickHandler);
            
                        function clickHandler(event) {
                            listPairs()
                        }
                    </script>
                    <button id="sort_button_pairs" class="hidden">Sort</button>
                    <script nonce="{{ csp_nonce() }}" >
                        document.getElementById("sort_button_pairs").addEventListener('click', clickHandler);
            
                        function clickHandler(event) {
                            sortList_pairs()
                        }
                    </script>
                    <br>
                    <ul id="pairlist" class="no-bullets"> </ul>
                    <div id="pages-pairs" class="hidden">
                        <div id="prev-pairs" class="pagesleft">Prev</div>
                        <div id="next-pairs" class="pagesright">Next</div>
                    </div>
                </div>
            
                <div class="column">
                    <h3> Update Pair </h3>
                    <section class="pairs-update">
                        <div id="deletebutton_pair" class="deletebutton" >&nbsp;DELETE&nbsp;</div>
                        <script nonce="{{ csp_nonce() }}" >
                            document.getElementById("deletebutton_pair").addEventListener('click', clickHandler);
                
                            function clickHandler(event) {
                                alertBefore_pairs('{{ csrf_token() }}')
                            }
                        </script>
                        <form>
                            <div>
                                <p>
                                    <label for="pair-update">Pair Name:&nbsp;</label>
                                    <input type="text" id="pair-update" name="name" class="pair-update" readonly/>
                                </p>    
                                <br>
                                <p>
                                    <label for="ticker1-update">Ticker 1:&nbsp;</label>
                                    <input type="text" id="pair-ticker1-update" name="ticker1" class="ticker-update" readonly/>
                                </p>    
                                <p>
                                    <label for="ticker2-update">Ticker 2:&nbsp;</label>
                                    <input type="text" id="pair-ticker2-update" name="ticker2" class="ticker-update" readonly/>
                                </p>    
                                <br>    
                                <p>
                                    <label for="hedge-update">Hedge Value:&nbsp;</label>
                                    <input type="text" title="Decimals only" name="hedge" id="hedge-update" class="float" pattern="^[1-9]\d*(\.\d+)?$" required placeholder="#.##">
                                </p>
                                <p>
                                    <label for="contracts-update">Contracts:&nbsp;</label>
                                    <input type="text" title="Integers only" name="contracts" id="contracts-update" class="integer" pattern="[0-9]+" required placeholder="###"> 
                                </p>
                                <p>
                                    <label for="notes-update">Notes:&nbsp;</label>
                                    <input type="text" id="notes-update" name="notes" class="notes-update"/>
                                </p>
                                <br>
                                <p>
                                    <label>Trade Status:&nbsp;</label>                              
                                    <input type="radio" id="active-pair-update" name="status" value="1"><span>active</span>
                                </p>                       
                                <p>
                                    <label>&nbsp;</label>  
                                    <input type="radio" id="passive-pair-update" name="status" value="0"><span>passive</span>
                                    
                                </p>
                                <p>
                                    <label>&nbsp;</label>  
                                    <input type="radio" id="watch-pair-update" name="status" value="-1"><span>watch</span>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    
                                </p>
                                
 
                                <br><br>


                                <button type="submit">Create JSON</button>
                            </div>
                        </form>
                    </section>
                
                    <section>
                        <div id="jsondiv-pairs-update" class="results-pairs-update" display= "none">
                            <h2 id="jsontext-pairs-update" class="hidden" >JSON</h2>
                            <pre></pre>
                
                        </div>
                    </section>
                </div>
            
            </div>
            <div class="legend">
                <span class='roundgreen'>&nbsp;</span> active
                <span class='roundred'>&nbsp;</span> passive
            </div>
        </div>
        <div id="tab3" class="tab">
            <div class="container">
                <div class="column">
                <h3> Add Ticker </h3>
                <section class="tickers-form">
                    <form>
                        <div>
                            <p>
                                <label for="ticker">Ticker Symbol:&nbsp;</label>
                                <input type="text" title="Max 10 chars with no spaces" id="ticker" class="ticker" name="symbol" pattern="^\S{1,9}$" required placeholder="Add Here"/>
                                <!--Below needs a CSP fix-->
                                <!-- <input type="text" id="ticker" class="ticker" name="symbol" pattern="^\S{1,9}$" required placeholder="Add Here"
                                oninvalid="this.setCustomValidity('Less than 10 charachers with no spaces!')" oninput="this.setCustomValidity('')"/> -->
                            </p>
                            <p>
                                <label for="sectype">Sec. Type:&nbsp; </label>
                                <select name="sectype" id="sectype" class="sectype" name="sectype">
                                    <option value="STK">STK</option>
                                    <option value="CASH">CASH</option>
                                    <option value="CRYPTO">CRYPTO</option>
                                </select>
                            </p>
                            <p>
                                <label for="xch">Exchange:&nbsp; </label>
                                <select name="xch" class ="xch" id="xch" name="xch">
                                    <option value="SMART">SMART</option>
                                    <option value="NASDAQ">NASDAQ</option>
                                    <option value="NYSE">NYSE</option>
                                    <option value="ISLAND">ISLAND</option>
                                    <option value="BATS">BATS</option>
                                    <option value="ARCA">ARCA</option>
                                    <option value="BYX">BYX</option>
                                    <option value="AMEX">AMEX</option>
                                    <option value="EDGEA">EDGEA</option>
                                    <option value="DRCTEDGE">DRCTEDGE</option>
                                    <option value="PAXOS">PAXOS(CYRPTO)</option>
                                    <option value="IDEALPRO">IDEALPRO(FX)</option>
                                    <option value="FXCONV">FXCONV(FX)</option>
                                </select>
                            </p>
                            <p>
                                <label for="prixch">Pri. Exchange:&nbsp;  </label>
                                <select name="prixch" class="prixch" id="prixch" name="prixch">
                                    <option value="NYSE">NYSE</option>
                                    <option value="NASDAQ">NASDAQ</option>
                                    <option value="ISLAND">ISLAND</option>
                                    <option value="BATS">BATS</option>
                                    <option value="ARCA">ARCA</option>
                                    <option value="BYX">BYX</option>
                                    <option value="AMEX">AMEX</option>
                                    <option value="EDGEA">EDGEA</option>
                                    <option value="DRCTEDGE">DRCTEDGE</option>
                                    <option value="PAXOS">PAXOS(CYRPTO)</option>
                                    <option value="IDEALPRO">IDEALPRO(FX)</option>
                                    <option value="FXCONV">FXCONV(FX)</option>
                                </select>
                            </p>
                            <p>
                                <label for="currency">Currency:&nbsp; </label>
                                <select name="currency" class="currency" id="currency" name="currency">
                                    <option value="USD">USD</option>
                                    <option value="CAD">CAD</option>
                                </select>
                            </p>
                            <p>
                                <label for="order_type">Order Type:&nbsp; </label>
                                <select name="order_type" class="order_type" id="order_type" name="order_type">
                                    <option value="RELATIVE">RELATIVE</option>
                                    <option value="MARKET">MARKET</option>
                                    <option value="LIMIT">LIMIT</option>
                                    
                                </select>
                            </p>
                            <input name="active" type="hidden" value="0"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <br><br>
                            <button type="submit">Create JSON</button>
                        </div>
                    </form>
                    </form>
                </section>          
                <section>
                    <div id="jsondiv" class="results" display= "none">
                        <h2 id="jsontext" class="hidden" >JSON</h2>
                        <pre></pre>
            
                    </div>
                </section>          
                </div>
            
                <div class="column">
                    <h3> List of Tickers </h3>
                    <button id="getticker_button" type="submit">GET Tickers</button>
                    <script nonce="{{ csp_nonce() }}" >
                        document.getElementById("getticker_button").addEventListener('click', clickHandler);
            
                        function clickHandler(event) {
                            getTickers()
                        }
                    </script>
                    <button id="sort_button" class="hidden">Sort</button>
                    <script nonce="{{ csp_nonce() }}" >
                        document.getElementById("sort_button").addEventListener('click', clickHandler);
            
                        function clickHandler(event) {
                            sortList()
                        }
                    </script>
                    <br>
                    <ul id="stklist" class="no-bullets"> </ul>
                    <div id="pages-tickers" class="hidden">
                        <div id="prev-stk" class="pagesleft">Prev</div>
                        <div id="next-stk" class="pagesright">Next</div>
                    </div>
                </div>
            
                <div class="column">
                    <h3> Update Ticker </h3>
                    <section class="tickers-update">
                        <div id="deletebutton_ticker" class="deletebutton">&nbsp;DELETE&nbsp;</div>
                        <script nonce="{{ csp_nonce() }}" >
                            document.getElementById("deletebutton_ticker").addEventListener('click', clickHandler);
                
                            function clickHandler(event) {
                                alertBefore('{{ csrf_token() }}')
                            }
                        </script>
                        <form>
                            <div>
                                <p>
                                    <label for="ticker-update">Ticker Symbol:&nbsp; </label>
                                    <input type="text" id="ticker-update" name="symbol" class="ticker-update" readonly/>
                                </p>
                                <br>
                                <p>
                                    <label for="sectype-update">Sec. Type:&nbsp; </label>
                                    <select name="sectype" class="sectype-update" id="sectype-update" name="sectype">
                                        <option value="STK">STK</option>
                                        <option value="CASH">CASH</option>
                                        <option value="CRYPTO">CRYPTO</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="xch-update">Exchange:&nbsp; </label>
                                    <select name="xch" class="xch-update" id="xch-update" name="xch">
                                        <option value="SMART">SMART</option>
                                        <option value="NASDAQ">NASDAQ</option>
                                        <option value="NYSE">NYSE</option>
                                        <option value="ISLAND">ISLAND</option>
                                        <option value="BATS">BATS</option>
                                        <option value="ARCA">ARCA</option>
                                        <option value="BYX">BYX</option>
                                        <option value="AMEX">AMEX</option>
                                        <option value="EDGEA">EDGEA</option>
                                        <option value="DRCTEDGE">DRCTEDGE</option>
                                        <option value="PAXOS">PAXOS(CYRPTO)</option>
                                        <option value="IDEALPRO">IDEALPRO(FX)</option>
                                        <option value="FXCONV">FXCONV(FX)</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="prixch-update">Pri. Exchange:&nbsp; </label>
                                    <select name="prixch" class="prixch-update" id="prixch-update" name="prixch">
                                        <option value="NYSE">NYSE</option>
                                        <option value="NASDAQ">NASDAQ</option>
                                        <option value="ISLAND">ISLAND</option>
                                        <option value="BATS">BATS</option>
                                        <option value="ARCA">ARCA</option>
                                        <option value="BYX">BYX</option>
                                        <option value="AMEX">AMEX</option>
                                        <option value="EDGEA">EDGEA</option>
                                        <option value="DRCTEDGE">DRCTEDGE</option>
                                        <option value="PAXOS">PAXOS(CYRPTO)</option>
                                        <option value="IDEALPRO">IDEALPRO(FX)</option>
                                        <option value="FXCONV">FXCONV(FX)</option>
                                    </select>
                                </p>
                                <p>
                                <label for="currency-update">Currency:&nbsp; </label>
                                <select name="currency" class="currency-update" id="currency-update" name="currency">
                                    <option value="USD">USD</option>
                                    <option value="CAD">CAD</option>
                                </select>
                                </p>
                                <p>
                                    <label for="order_type-update">Order Type:&nbsp; </label>
                                    <select name="order_type" class="order_type-update" id="order_type-update" name="order_type">
                                        <option value="RELATIVE">RELATIVE</option>
                                        <option value="MARKET">MARKET</option>
                                        <option value="LIMIT">LIMIT</option>
                                    </select>
                                </p>
                                <br>
                                <p>
                                    <label>Trade Status:&nbsp;</label>
                        
                                    <input type="radio" id="active-update" name="active" value="1"><span>active</span>
                                </p>
                                <p>
                                    <label>&nbsp;</label>            
                                    <input type="radio" id="passive-update" name="active" value="0"><span>passive</span>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    
                                </p>
                                <br><br>
                                <button type="submit">Create JSON</button>
                            </div>
                        </form>
                    </section>
                
                    <section>
                        <div id="jsondiv-update" class="results-update" display= "none">
                            <h2 id="jsontext-update" class="hidden" >JSON</h2>
                            <pre></pre>
                
                        </div>
                    </section>
                </div>
            
            </div>
            <div class="legend">
                <span class='roundgreen'>&nbsp;</span> active
                <span class='roundred'>&nbsp;</span> passive
            </div>
        </div>
    </div>


<script nonce="{{ csp_nonce() }}" >

var server_url = window.location.origin + "/";
console.log("base_url: " + server_url);

</script>

<script nonce="{{ csp_nonce() }}" type="text/javascript" src={{ url_for("static",filename="tickers.js") }} > </script>
<script nonce="{{ csp_nonce() }}" type="text/javascript" src={{ url_for("static",filename="pairs.js") }} > </script>
<script nonce="{{ csp_nonce() }}" type="text/javascript" src={{ url_for("static",filename="signals.js") }} > </script>
<script nonce="{{ csp_nonce() }}" type="text/javascript" src={{ url_for("static",filename="users.js") }} > </script>


</body>
</html>